<%= form_for @post, action: { method: 'update' } do |f| %>

    <%= f.label t('views.forms.posts.title') %>
    <%= f.text_field :title, class: 'form-control'%>

    <%= f.label t('views.forms.posts.category') %>
    <%= select_tag :category_id, options_for_select( Category.all.collect { |c| [c.title, c.id] }, [@post.category.title, @post.category.id] ), class: 'form-control w-100' %>
    <hr/>
    <div class="row">
      <div class="col-md-6">
    <%= f.submit t('views.forms.posts.update'), class: 'btn btn-success w-100' %>
      </div>
<% end %>
    <div class="col-md-6">
      <%= button_to t('views.forms.posts.destroy'), @post, method: :delete, data: { confirm: t('views.forms.confirm') },
                  class: 'btn btn-danger w-100' %>
    </div>
    </div>