<div class="row">
  <div class="col-md-2">
    <a href=<%= user_url(comment.user) %>>
      <img src=<%= comment.user.image %>>
    </a>
  </div>
  <div class="col-md-10">
    <a href=<%= user_url(comment.user) %>>
      <%= comment.user.name %>
    </a>
    <%= comment.content %>
  </div>
  <div class="col-md-12">
    <hr/>
  </div>
</div>