<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href=<%= root_path %>><h4><%= t('header.brand')%></h4></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active align">
        <a class="nav-link" href=<%= posts_path %>><%= t('header.posts')%></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href=<%= users_path %>><%= t('header.users') %></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href=<%= categories_path %>><%= t('header.categories')%></a>
      </li>
      <li class="nav-item">
        <%= render 'layouts/sign_in_item' %>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <input id="search_input" class="form-control" type="text" placeholder="Search">
      <button id="search_button" class="btn btn-outline-primary my-2 my-sm-0">Search</button>
    </div>
  </div>
</nav>
<br>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <%= render 'forms/flash' %>
  </div>
  <div class="col-md-3"></div>
</div>

