<div class="dropdown">
  <% if current_user %>
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img src=<%= current_user.image %>>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href=<%= user_path(current_user) %>><%= t('header.profile.show') %></a>
    <a class="dropdown-item" href=<%= edit_user_path(current_user) %>><%= t('header.profile.edit') %></a>
    <a class="dropdown-item" href=<%= new_post_path %>><%= t('header.profile.post') %></a>
    <div class="dropdown-divider"></div>
    <%= link_to t('header.profile.sign.out'), destroy_user_session_path, :method => :delete, class: 'dropdown-item' %>
  </div>
  <% else %>

  <% end %>
</div>





