<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1 align="center"><%= @post.title %></h1>
      <%= rating_for @post, 'content' %>
      <hr/>
      <h2 align="center"><%= t('views.forms.posts.comments') %></h2>
      <hr/>
      <div id="comments">
         <%= render @post.comments %>
      </div>
      <input id="input_Text" data-post-id=<%= @post.id %> data-user-id=<%= current_user.id %> type="text" data-behavior="post_speaker" class="form-control">
    </div>
    <div class="col-md-2"></div>
  </div>
</div>