<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1 align="center"><%= @post.title %></h1>
      <%= rating_for @post, 'content' %>
      <hr/>
      <%= will_paginate @steps %>
      <hr/>
      <%= t('views.forms.posts.tags') %>

      <% @post.tag_list.each do |tag| %>
        <%= link_to tag, tag_path(tag), class: 'badge badge-pill badge-info' %>
      <% end %>
      <div id="steps">
        <%= render @steps %>
      </div>
      <h/>
      <h2 align="center"><%= t('views.forms.posts.comments') %></h2>
      <hr/>
      <div class="panel panel-default">
        <div class="panel-body" id="comments" data-post-id=<%= @post.id %>>
          <%= render @post.comments %>
        </div>
      </div>
        <textarea id="comment_area" data-post-id=<%= @post.id %> data-user-id=<%= current_user.id %>  row="2"
                  type="text" data-behavior="post_speaker" class="form-control" placeholder='<%= t('views.forms.comments.placeholder') %>'></textarea>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>