<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1 align="center"><%= @post.title %></h1>
      <%= rating_for @post, 'content' %>
      <hr/>
      <h2 align="center"><%= t('views.forms.posts.comments') %></h2>
      <hr/>
      <div class="panel panel-default">
        <div class="panel-body" id="comments" data-post=<%= @post.id %>>
          <%= render @post.comments %>
        </div>
      </div>
      <%= render partial: 'comments/comment_form', locals: {comment: @comment, post: @post} %>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>